jhu-ep-coursera
/
fullstack-course5
182
5321.1k
 Code Issues 3 Pull requests 0 Actions Projects 0 Wiki Security 0 Insights
fullstack-course5/examples/Lecture41/css/styles.css
Fetching contributors…

23 lines (20 sloc)  297 Bytes

body {
  font-size: 1.2em;
}

.error {
  color: red;
  font-weight: bold;
  display: none;
}

.loading-icon {
  position: absolute;
  left: 50%;
  top: 10px;
}

li[ui-sref]:hover {
  display: inline-block;
  cursor: pointer;
  border: solid black 1px;
  padding-left: 5px;
  padding-right: 5px;
}
